
%html
  %head
    %title Weather
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body

  %h1 Weather from Wunderground

  =form_tag "/" do
    = label_tag "city"
    = text_field_tag "city"
    = label_tag "state"
    = text_field_tag "state"
    = submit_tag "Save"

  %h2
    =if @hash != nil
      ="#{@display_location["city"]} Temperature is #{@temp_f}F"

